<div class="container">
  <div class="row mt">
    <div class="col-10 offset-1 col-sm-6 offset-sm-3 mt-3 mb-2 d-flex align-items-center">
      <h1>投稿編集</h1>
      <%= link_to post_path(@post),method: :delete,data: {confirm: '本当に消しますか？'},class: "btn btn-sm btn-danger ml-5" do %>
        <i class="fas fa-trash-alt "></i>
      <% end %>
    </div>

    <div class="col-10 offset-1 col-sm-6 offset-sm-3 mt-3 mb-2">
      <%= render 'layouts/errors', obj: @post %>
      <%= render "public/posts/form", post: @post %>
    </div>
  </div>
</div>