<div class='container-fluid topbg'>
  <div class='row vh-100'>
    <div class='col-sm-12'>
      <h1 class="mt-5 text-center">About</h1>
        <div class="d-flex align-items-center justify-content-center mt-4">
          <p>このサイトは、ゲームのパーティー募集や攻略情報などの</br>
          情報交換ができるコミュニティサイトです。</p>
        </div>
    </div>
  </div>
</div>
