<div class="container-fluid topbg">
  <div class="row vh-100">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center'>
      <h1 class="mt-5">welcome to <strong>Re:group</strong>!!</h1>
      <p class="mt-5">こちらは　<strong>管理者用ページ</strong> </p>
      <p>投稿、ユーザーの編集の際にご利用ください。</p>
    </div>
  </div>
</div>
