<div class="ml-5">
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(post), method: :DELETE, remote: true do %>
      <i class="fas fa-heart mr-2"></i><%= post.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <i class="far fa-heart mr-2"></i><%= post.favorites.count %>
    <% end %>
  <% end %>
</div>